@reference "@/index.css";

li.ProcessoCard{
  @apply fill-white transition-transform transform hover:-translate-y-1 hover:cursor-pointer;
  filter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
}
li.ProcessoCard article{
  @apply flex flex-row border p-4 rounded-lg shadow-md bg-gray-50 space-x-3;
}

li.ProcessoCard article > div{
  @apply flex flex-col h-full w-full justify-around;
}

li.ProcessoCard h3.descricao{
  @apply text-black text-xl not-italic font-normal leading-7 line-clamp-2 mb-6;
  /* @apply min-w-[97.3%]; */
  font-family: Sora;
}

li.ProcessoCard aside.lateralBar{
   @apply w-2 min-h-11/12 shrink-0 rounded-[15px];
}

li.ProcessoCard p.edital{
    @apply text-[#414141] text-sm not-italic font-bold leading-6 ml-0.5;
    font-family: Sora;
}

/* div onde se localiza o btn de entrar */
li.ProcessoCard div.status > div{
  @apply w-full flex justify-between;
}

li.ProcessoCard div.status{
    @apply flex flex-row space-x-1 items-center mt-7;
}
li.ProcessoCard div.status span,
li.ProcessoCard div.status p{
    @apply text-black text-sm not-italic opacity-90 font-bold leading-6;
    text-wrap-mode: nowrap;
    font-family: Sora;
}

li.ProcessoCard article > div button.entrarBtn{
  @apply cursor-pointer p-2 rounded-sm;
  
  /* White Mode */
  @apply bg-[#004DA9] text-white;
  @apply hover:bg-[#063772];

  /* Dark Mode */
  @apply dark:bg-white dark:border-2 dark:text-[#29166F];
  @apply dark:border-[0.4px] dark:border-solid dark:border-[rgba(114,114,114,0.50)];
}