@reference "@/index.css"; 

h3.cardName{
    @apply text-black text-[24px];
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

p.cardContent{
    font-family: "Sora, sans-serif";
    font-size: 16px;
    font-style: normal; 
    line-height: 20px; 
    text-align: justify;
}