
.spinner {
  width: 56px;
  height: 56px;

  border-radius: 50%;

  animation: spin 1s linear infinite;

  border: 6px solid #e5e5e5;

  border-top-color: #000000;
}

/* Define a animação 'spin' */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}