@font-face {
    font-family: 'Sora';
    src: url('../../assets/Fonts/Sora/Sora-VariableFont_wght.ttf') format('ttf');
    font-weight: normal; /* ou 400 */
    font-style: normal;
}

h3.cardName{
    color: #000;
    font-family: 'Sora';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}