@reference "@/index.css";

/* START ------------------------------------- HEADER CANDIDATO ------------------------------------- */

header#user {
    @apply text-white mx-4 sm:mx-10 mt-2;
}
#user nav {
    @apply container relative flex mx-auto rounded-2xl;
    @apply px-6 py-2 flex flex-nowrap justify-between;
    @apply min-w-[310px] max-w-screen-xl mt-2.5;

    @apply shadow-sm;
    
    /* Light mode */
    @apply md:bg-gradient-to-r from-[var(--header-candidato-primary-left)] to-[var(--header-candidato-primary-right)] transition-all duration-700 ease-in-out;

    /* Dark modee */
    @apply dark:bg-gradient-to-r dark:from-[var(--header-candidato-primary)] dark:to-[var(--header-candidato-primary)];
    
    @apply md:rounded-xl;
}

#user nav > div{
  @apply flex justify-between items-center w-full;
}

#user.logo-cead{
    width: 120px;
    height: 50px;
}

#user nav #div-ul-header > ul{
    @apply flex items-center flex-nowrap;
    @apply space-x-20;
    @apply mx-10;
    @apply w-full;
    @apply justify-start; 
} 


@media (min-width: 768px) {
    #user .link-page:not(.active-link){
        @apply px-0 text-white font-semibold relative transition-colors duration-200 ease-in-out;
        @apply whitespace-nowrap lg:text-[16px] sm:text-sm;

        /* HOVER - Efeito de underline que surge da esquerda para a direita */
        &::after {
            content: '';
            @apply absolute bottom-[-2px] left-0 h-[2px];
            @apply bg-white;
            @apply w-0;
            @apply transition-all duration-300 ease-in-out;
        }

        &:hover::after {
            @apply w-full;
        }

        &.active::after {
            @apply w-full;
            @apply bg-[#005ABF];
        }

        /* Opcional: Se você quiser um foco suave ao navegar com teclado */
        &:focus-visible {
            outline: 2px solid theme('colors.white'); /* Adiciona um outline branco para acessibilidade */
            outline-offset: 2px;
            @apply rounded-sm;
        }
    }
    #user .active-link{
        @apply px-0 text-white font-semibold relative transition-colors duration-200 ease-in-out;
        @apply whitespace-nowrap lg:text-[16px] sm:text-sm;

        /* HOVER - Efeito de underline que surge da esquerda para a direita */
        &::after {
            content: '';
            @apply absolute bottom-[-2px] left-0 h-[2px];
            @apply bg-blue-700;
            @apply w-0;
            @apply transition-all duration-300 ease-in-out;
        }

        &:hover::after {
            @apply w-full;
        }

        &.active::after {
            @apply w-full;
            @apply bg-[#005ABF];
        }

        /* Opcional: Se você quiser um foco suave ao navegar com teclado */
        &:focus-visible {
            outline: 2px solid theme('colors.white'); /* Adiciona um outline branco para acessibilidade */
            outline-offset: 2px;
            @apply rounded-sm;
        }
    }
}


/* ------------------------------------------- MENU MOBILE ------------------------------------------- */

/* Tamanho máximo para aplicar os estilos */
@media (max-width: 767px) {

    #user nav {
        @apply bg-[var(--header-admin-responsive)];
    }

    /* Link não ativo */
    #user .link-page:not(.active-link) {
        @apply bg-[var(--header-candidato-responsive-nav-item)];
        @apply my-1 w-full py-2 pl-5 text-white font-semibold rounded-md;
        @apply whitespace-nowrap lg:text-[16px] sm:text-sm;

        &:hover {
            @apply bg-[var(--header-candidato-responsive-hover-nav-item)];
            @apply shadow-lg -translate-y-px;
        }

        /* Foco para acessibilidade (navegação com teclado) */
        &:focus-visible {
            @apply outline-none ring-2 ring-offset-2 ring-blue-400;
        }
    }

    /* Link ativo */
    #user .active-link {
        @apply bg-[var(--header-candidato-responsive-active-nav-item)];
        @apply w-full py-2 pl-5 text-white font-semibold rounded-md shadow-inner;
        @apply whitespace-nowrap lg:text-[16px] sm:text-sm;
        @apply cursor-default; /* Opcional: muda o cursor, já que o link está ativo */

        &:hover {
            @apply bg-[var(--header-candidato-responsive-hover-nav-item)];
            @apply shadow-lg -translate-y-px;
        }

        /* Foco para acessibilidade (navegação com teclado) */
        &:focus-visible {
            @apply outline-none ring-2 ring-offset-2 ring-blue-400;
        }
    }

    #user .navbar-toggle {
        @apply text-white hover:bg-[var(--header-candidato-toggle-btn)];
    }

}

/* ------------------------------------------- END MENU MOBILE ------------------------------------------- */