@reference "@/index.css";

li.ProcessoPessoalCard{
  @apply fill-white transition-transform transform hover:-translate-y-1 hover:cursor-pointer;
  filter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
}
li.ProcessoPessoalCard article{
  @apply flex flex-row border p-4 rounded-lg shadow-md bg-gray-50 space-x-3;
}

li.ProcessoPessoalCard article > div{
  @apply flex flex-col h-full w-full justify-around;
}

li.ProcessoPessoalCard h3.descricao{
  @apply  text-black text-xl not-italic font-normal leading-7 line-clamp-2 mb-6;
  font-family: Sora;
}

li.ProcessoPessoalCard aside.lateralBar{
   @apply w-2 min-h-11/12 shrink-0 rounded-[15px];
}

li.ProcessoPessoalCard p.edital{
    @apply text-[#414141] text-sm not-italic font-bold leading-6 ml-0.5;
    font-family: Sora;
}

/* div onde se localiza o btn de entrar */
li.ProcessoPessoalCard div.status > div{
  @apply w-full flex flex-row-reverse;
}

li.ProcessoPessoalCard div.status{
    @apply flex flex-row space-x-1 items-center mt-7;
}
li.ProcessoPessoalCard div.status span{
    @apply text-base not-italic font-normal leading-[19px];
    text-wrap-mode: nowrap;
    font-family: Sora;
}

li.ProcessoPessoalCard article > div button.entrarBtn{
  @apply cursor-pointer p-2 rounded-sm bg-[#095ec5] text-white dark:bg-white dark:text-[#29166F];
}