@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tw-animate-css";

/**se nn tiver isso não funciona dark mode **/
@custom-variant dark (&:where(.dark, .dark *));

@import "tw-animate-css";

/*---break--- 

*/

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'Sora';
    src: url('@/assets/Fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
    body {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    * {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply block w-full rounded-md border-0 p-2 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-500 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm bg-white;
    }
    label {
        @apply block text-sm font-medium leading-6 text-slate-900 first-letter:capitalize;
    }
    .app{
        @apply mb-[60px] sm:mb-0;
    }
    main {
        @apply mt-10 mx-8 sm:mx-10 pb-10;
    }
    main section{
        @apply mx-auto min-h-[80vh];
        @apply px-2 md:px-6 mt-10 py-12; 
        @apply bg-white rounded-2xl shadow-[-1px_0px_2px_0px_rgba(0,0,0,0.25),1px_1px_2px_0px_rgba(0,0,0,0.25)];
    }
    .primary-btn {
        @apply flex w-full cursor-pointer justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .text-link {
        @apply font-semibold text-blue-500 hover:text-blue-600;
    }
    .nav-link {
        @apply text-slate-200 hover:bg-slate-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium;
    }
    .title {
        @apply my-6 text-center text-3xl font-bold leading-9 text-slate-900;
    }
    .error {
        @apply text-xs text-red-500 mt-1;
    }

    /* START ------------------------------------- TABELAS CANDIDATO ------------------------------------- */
    table {
        @apply w-full text-sm text-left rounded-md shadow-lg overflow-hidden  table-auto bg-white;
    }
    thead {
        @apply text-xs uppercase font-medium border-b border-slate-100 text-slate-600;
    }
    tbody tr {
        @apply hover:bg-slate-100 w-full p-0;
    }
    th {
        @apply px-6 py-4;
    }
    td {
        @apply px-6 py-4 border-b border-slate-100;
    }

    /* END ------------------------------------- TABELAS CANDIDATO ------------------------------------- */

    .avatar {
        @apply w-8 h-8 rounded-full overflow-hidden object-center object-cover;
    }
    .invalid-feedback{
      @apply mt-2 text-red-500 text-xs/tight;
    }
    .cor-azul-1{
      @apply bg-blue-50;
    }
  }

.input-error {
  border-color: red;
  border-width: 1px;
}

.input-error:focus {
  outline: 1px solid red;
  border-color: red;
}


/* START ------------------------------------- Componente de exibição de que não foram encontrados itens de CRUDs ------------------------------------- */

div.info-not-found-itens{
    @apply flex flex-col items-center justify-center;
    @apply pb-25;

    /* White Mode */
    @apply text-gray-500;

    /* Dark Mode */
    @apply dark:text-gray-400;
}

div.info-not-found-itens .ICON{
    @apply w-24 h-24 mb-4;
    
   /* White Mode */
    @apply text-gray-400;
    
    /* Dark Mode */
    @apply dark:text-gray-500;
}

div.info-not-found-itens p#first{
    @apply text-xl font-semibold mb-2;
}

div.info-not-found-itens p#second{
    @apply text-base text-center max-w-md;
}
/* END   ----------------------------------------------------------------------------------------------------------------------- */

/*---break---*/

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

/*---break---*/

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
